/* -----------------------------------
 * NAVBAR
 * -------------------------------- */

#main-nav {
    background-color: white;
}

#main-nav .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='#8C8C8C' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#main-nav .nav-link {
    color: #8C8C8C;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 0.25px;
    transition: 0.3s;
}

#main-nav .nav-link:hover {
    color: #666666;
}

#main-nav .nav-item.active .nav-link {
    color: #0D3AA1;
}

/* -----------------------------------
 * HEADER
 * -------------------------------- */

#header {
    margin-top: 56px;
    background-color: #0C4A7C;
    color: white;
}

/* -----------------------------------
 * INTRO CONTENT
 * -------------------------------- */

#intro-content {
    text-align: center;
    padding: 12% 16%;
}

#intro-content h2 {
    color: #0D3AA1;
    font-family: 'Alegreya SC', serif;
}

#intro-content p {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    letter-spacing: 0.25px;
}

@media (min-width: 992px) {
    #intro-content p {
        width: 675px;
        margin: auto;
    }
}

/* -----------------------------------
 * CARD LINKS
 * -------------------------------- */

#card-links {
    background-color: #EBEBEB;
    padding: 12% 4%;
}

#card-links .card-deck {
    justify-content: center;
}

.quicklink-card {
    -webkit-box-shadow: 0px 4px 16px 0px rgba(144, 144, 144, 0.4);
    -moz-box-shadow: 0px 4px 16px 0px rgba(144, 144, 144, 0.4);
    box-shadow: 0px 4px 16px 0px rgba(144, 144, 144, 0.4);
    border: none;
    padding: 36px 24px;
    min-width: 100%;
    margin-bottom: 15px;
    border-radius: 12px;
}

@media (min-width: 576px) {
    .quicklink-card {
        min-width: 76%;
        margin: 0 12% !important;
        margin-bottom: 15px !important;
    }
}

@media (min-width: 768px) {
    .quicklink-card {
        margin: 0 15px 15px 15px !important;
        min-width: calc(50% - 30px);
        max-width: calc(50% - 30px);
    }
}

@media (min-width: 1012px) {
    .quicklink-card {
        min-width: calc(33% - 30px);
        margin-bottom: 0;
    }
}

.quicklink-card .card-title {
    color: #CA3415;
    font-family: 'Alegreya SC', serif;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.9px;
}

.quicklink-card .card-text {
    font-family: 'Open Sans', sans-serif;
    color: #666666;
    font-size: 15px;
}

.quicklink-card .card-footer {
    background-color: transparent;
    border: none;
    margin-top: 12px;
}

.quicklink-card-btn {
    font-family: 'Open Sans', sans-serif;
    color: #0D3AA1;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1.5px;
    border: 3px solid #0D3AA1;
    border-radius: 4px;
    padding: 10px 20px;
    transition: 0.4s;
}

.quicklink-card-btn:hover {
    background-color: #0D3AA1;
    color: white;
    text-decoration: none;
}

/* -----------------------------------
 * FOOTER
 * -------------------------------- */

#footer {
    background-color: #0031AB;
    color: white;
}
